# URL Base da Tracking API (EasyPanel VPS)
# Use localhost para dev ou a URL da sua VPS para produção na Vercel
NEXT_PUBLIC_TRACKING_API_URL="http://localhost:8080/api/events/lp"

# Digistore24 Afiliado Setup
NEXT_PUBLIC_DIGISTORE_AFFILIATE_ID=""

# Configurações de Rastreamento (Pixel IDs)
NEXT_PUBLIC_TIKTOK_PIXEL_ID=""
NEXT_PUBLIC_META_PIXEL_ID=""
